@model TrabalhoPim4Web.ViewModels.ChamadoFormViewModel

@{
    ViewData["Title"] = "Abrir Chamado";
}

<h1>Abrir Novo Chamado</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Chamado" asp-action="Criar" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Titulo" class="form-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Descricao" class="form-label"></label>
                <textarea asp-for="Descricao" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success">Registrar Chamado</button>
                <a asp-controller="Chamado" asp-action="Listar" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>